<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Homepage</title>
    <link href="/styles/style.css" rel="stylesheet" type="text/css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <header>
      <div class="title">
        <button aria-label="Home">
          <i class="fas fa-home" title="Home"></i>
        </button>
        <h1>Home Page</h1>
      </div>
      <i class="add__icon fas fa-plus" title="Add a record"></i>
    </header>
    <hr />

    <main>
      <!-- Search bar -->
      <section class="search">
        <i class="add_icon fas fa-search"></i>
        <label for="search-input" class="sr-only">Search for a record:</label>
        <input
          id="search-input"
          type="text"
          placeholder="Type in here..."
          aria-label="Search for a record"
        />
        <button aria-label="Search">Search</button>
      </section>

      <!-- Homepage Table -->
      <section class="table__container">
        <table aria-labelledby="table-title">
          <caption id="table-title" class="sr-only">
            Product Information
          </caption>
          <tr>
            <th>Name</th>
            <th>Category</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Description</th>
            <th>Actions</th>
          </tr>
          <!-- Loop through mappedData and display each item -->
          <% mappedData.forEach(item => { %>
          <tr>
            <td><%= item.name %></td>
            <td><%= item.category %></td>
            <td><%= item.quantity %></td>
            <td><%= item.price.toFixed(2) %></td>
            <td><%= item.description %></td>
            <td>
              <button class="action__button" aria-label="Edit record">
                <i class="edit__icon fas fa-edit" title="Edit a record"></i>
              </button>
              <button class="action__button" aria-label="Delete record">
                <i
                  class="delete__icon fas fa-trash"
                  title="Delete a record"
                ></i>
              </button>
            </td>
          </tr>
          <% }) %>
        </table>
      </section>
    </main>
  </body>
</html>
