<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Details Page</title>
    <link rel="stylesheet" />
    <%- include("../partial/external-assets") %>
  </head>
  <body>
    <header>
      <div class="title">
        <a href="/inventory">
          <button aria-label="Home">
            <i class="fas fa-home" title="Home"></i>
          </button>
        </a>
        <h1>Details Page</h1>
      </div>
    </header>
    <hr />

    <section class="details__container">
      <div class="item__image">
        <i class="fas fa-image"></i>
      </div>
      <div class="details">
        <h2><%= itemDetails.name %></h2>
        <ul>
          <li><strong>ID: </strong><%= itemDetails.id %></li>
          <li><strong>Category: </strong><%= itemDetails.category %></li>
          <li><strong>Quantity: </strong><%= itemDetails.quantity %></li>
          <li><strong>Price: </strong><%= itemDetails.price %></li>
          <li><strong>Description: </strong><%= itemDetails.description %></li>
        </ul>
      </div>
    </section>
    <%- include("../partial/footer") %>
  </body>
</html>
