<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home Page</title>
    <%- include("./partial/external-assets") %>
  </head>
  <body>
    <header>
      <div class="title">
        <h1>Home Page</h1>
      </div>
      <div class="header__buttons">
        <a href="/items/new">
          <button class="add__icon">
            <i class="fas fa-plus" title="Add record"></i>
          </button>
        </a>
        <form action="/signout" method="POST">
          <button class="signout__icon" type="submit">
            <i class="fas fa-sign-out-alt" title="Sign out"></i>
          </button>
        </form>
      </div>
    </header>
    <hr />

    <main>
      <!-- Search bar -->
      <form class="search" method="GET">
        <i class="add_icon fas fa-search"></i>
        <label for="search-input" class="sr-only">Search for a record:</label>
        <input
          id="search-input"
          type="text"
          name="search"
          value="<%= searchValue %>"
          placeholder="Type in here..."
          aria-label="Search for a record"
        />
        <button type="submit" aria-label="Search">Search</button>
      </form>

      <!-- Home page Table -->
      <section class="table__container">
        <table aria-labelledby="table-title">
          <caption id="table-title" class="sr-only">
            Item Information
          </caption>
          <tr>
            <th>Name</th>
            <th>Category</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Description</th>
            <th>Created Date</th>
            <th>Actions</th>
          </tr>
          <!-- Loop through placeholderData and display each item -->
          <% for(let item of items) { %>
          <tr>
            <td><%= item.name %></td>
            <td><%= item.category %></td>
            <td><%= item.quantity %></td>
            <td><%= item.price %></td>
            <td><%= item.description %></td>
            <% const date = new Date(item.createdAt); %> <% const formattedDate
            = `${date.toLocaleString('en-US', { month: 'long' })}
            ${date.getDate()}, ${date.getFullYear()}` %>
            <td><%= formattedDate %></td>
            <td>
              <button class="action__button" aria-label="View details">
                <a href="/items/<%= item._id %>">
                  <i class="view__icon fas fa-eye" title="View details"></i>
                </a>
              </button>
              <button class="action__button" aria-label="Edit record">
                <a href="/items/<%= item.id %>/edit">
                  <i class="edit__icon fas fa-edit" title="Edit record"></i>
                </a>
              </button>
              <button class="action__button" aria-label="Delete record">
                <a href="/items/<%= item.id %>/delete">
                  <i
                    class="delete__icon fas fa-trash"
                    title="Delete record"
                  ></i>
                </a>
              </button>
            </td>
          </tr>
          <% } %>
        </table>
      </section>

      <section class="pagination">
        <ul>
          <% for(let i = 1; i <= totalPages; i++) { %>
          <a href="?search=<%= searchValue %>&page=<%= i %>">
            <li class="<%= currentPage === i ? 'active' : '' %>"><%= i %></li>
          </a>
          <% } %>
        </ul>
      </section>
    </main>
  </body>
  <%- include("./partial/footer") %>
</html>
